{% extends 'layout.html' %}

{% block breadcrumbs %}
    <ul id="nwao-breadcrumbs">
        <li>Blog</li>
    </ul>
{% endblock %}

{% block content %}

    <div id="nwao-blog-feed">

    <h2 id="nwao-page-title">
        <a href="#top" title="Articles">
            <i class="icon-arrow-down"></i>Latest Articles
        </a>
    </h2>

    {% for post in posts %}
        {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}

        <section class="nwao-blog-feed-item">

            <div class="nwao-item-marker"><i class="icon-file"></i></div>

            {% include 'blocks/post.header.html' %}

            <div class="nwao-post-excerpt">
                <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}</p>
            </div>

            <a href="{{ get_url(post.url) }}" title="Continue Reading" class="nwao-continue">
                Continue&nbsp;Reading
            </a>

        </section>

    {% endfor %}

    {% if site.post_limit and posts.items|length > site.post_limit %}
        <div id="nwao-pagination">
            <p><a href="{{ get_url('archives/') }}" title="All Articles">All Articles</a></p>
        </div>
    {% endif %}

    </div> <!-- / #nwao-blog-feed -->

{% endblock %}
