div.code pre .hll {
    background-color: #FFFFCC;
}
div.code pre {
    background: none repeat scroll 0 0 #F0F3F3;
}
div.code pre .c {
    color: #0099FF;
    font-style: italic;
}
div.code pre .err {
    background-color: #FFAAAA;
    color: #AA0000;
}
div.code pre .k {
    color: #006699;
    font-weight: bold;
}
div.code pre .o {
    color: #555555;
}
div.code pre .cm {
    color: #0099FF;
    font-style: italic;
}
div.code pre .cp {
    color: #009999;
}
div.code pre .c1 {
    color: #0099FF;
    font-style: italic;
}
div.code pre .cs {
    color: #0099FF;
    font-style: italic;
    font-weight: bold;
}
div.code pre .gd {
    background-color: #FFCCCC;
    border: 1px solid #CC0000;
}
div.code pre .ge {
    font-style: italic;
}
div.code pre .gr {
    color: #FF0000;
}
div.code pre .gh {
    color: #003300;
    font-weight: bold;
}
div.code pre .gi {
    background-color: #CCFFCC;
    border: 1px solid #00CC00;
}
div.code pre .go {
    color: #AAAAAA;
}
div.code pre .gp {
    color: #000099;
    font-weight: bold;
}
div.code pre .gs {
    font-weight: bold;
}
div.code pre .gu {
    color: #003300;
    font-weight: bold;
}
div.code pre .gt {
    color: #99CC66;
}
div.code pre .kc {
    color: #006699;
    font-weight: bold;
}
div.code pre .kd {
    color: #006699;
    font-weight: bold;
}
div.code pre .kn {
    color: #006699;
    font-weight: bold;
}
div.code pre .kp {
    color: #006699;
}
div.code pre .kr {
    color: #006699;
    font-weight: bold;
}
div.code pre .kt {
    color: #007788;
    font-weight: bold;
}
div.code pre .m {
    color: #FF6600;
}
div.code pre .s {
    color: #CC3300;
}
div.code pre .na {
    color: #330099;
}
div.code pre .nb {
    color: #336666;
}
div.code pre .nc {
    color: #00AA88;
    font-weight: bold;
}
div.code pre .no {
    color: #336600;
}
div.code pre .nd {
    color: #9999FF;
}
div.code pre .ni {
    color: #999999;
    font-weight: bold;
}
div.code pre .ne {
    color: #CC0000;
    font-weight: bold;
}
div.code pre .nf {
    color: #CC00FF;
}
div.code pre .nl {
    color: #9999FF;
}
div.code pre .nn {
    color: #00CCFF;
    font-weight: bold;
}
div.code pre .nt {
    color: #330099;
    font-weight: bold;
}
div.code pre .nv {
    color: #003333;
}
div.code pre .ow {
    color: #000000;
    font-weight: bold;
}
div.code pre .w {
    color: #BBBBBB;
}
div.code pre .mf {
    color: #FF6600;
}
div.code pre .mh {
    color: #FF6600;
}
div.code pre .mi {
    color: #FF6600;
}
div.code pre .mo {
    color: #FF6600;
}
div.code pre .sb {
    color: #CC3300;
}
div.code pre .sc {
    color: #CC3300;
}
div.code pre .sd {
    color: #CC3300;
    font-style: italic;
}
div.code pre .s2 {
    color: #CC3300;
}
div.code pre .se {
    color: #CC3300;
    font-weight: bold;
}
div.code pre .sh {
    color: #CC3300;
}
div.code pre .si {
    color: #AA0000;
}
div.code pre .sx {
    color: #CC3300;
}
div.code pre .sr {
    color: #33AAAA;
}
div.code pre .s1 {
    color: #CC3300;
}
div.code pre .ss {
    color: #FFCC33;
}
div.code pre .bp {
    color: #336666;
}
div.code pre .vc {
    color: #003333;
}
div.code pre .vg {
    color: #003333;
}
div.code pre .vi {
    color: #003333;
}
div.code pre .il {
    color: #FF6600;
}
table.code td .hll {
    background-color: #FFFFCC;
}
table.code td {
    background: none repeat scroll 0 0 #F0F3F3;
}
table.code td .c {
    color: #0099FF;
    font-style: italic;
}
table.code td .err {
    background-color: #FFAAAA;
    color: #AA0000;
}
table.code td .k {
    color: #006699;
    font-weight: bold;
}
table.code td .o {
    color: #555555;
}
table.code td .cm {
    color: #0099FF;
    font-style: italic;
}
table.code td .cp {
    color: #009999;
}
table.code td .c1 {
    color: #0099FF;
    font-style: italic;
}
table.code td .cs {
    color: #0099FF;
    font-style: italic;
    font-weight: bold;
}
table.code td .gd {
    background-color: #FFCCCC;
    border: 1px solid #CC0000;
}
table.code td .ge {
    font-style: italic;
}
table.code td .gr {
    color: #FF0000;
}
table.code td .gh {
    color: #003300;
    font-weight: bold;
}
table.code td .gi {
    background-color: #CCFFCC;
    border: 1px solid #00CC00;
}
table.code td .go {
    color: #AAAAAA;
}
table.code td .gp {
    color: #000099;
    font-weight: bold;
}
table.code td .gs {
    font-weight: bold;
}
table.code td .gu {
    color: #003300;
    font-weight: bold;
}
table.code td .gt {
    color: #99CC66;
}
table.code td .kc {
    color: #006699;
    font-weight: bold;
}
table.code td .kd {
    color: #006699;
    font-weight: bold;
}
table.code td .kn {
    color: #006699;
    font-weight: bold;
}
table.code td .kp {
    color: #006699;
}
table.code td .kr {
    color: #006699;
    font-weight: bold;
}
table.code td .kt {
    color: #007788;
    font-weight: bold;
}
table.code td .m {
    color: #FF6600;
}
table.code td .s {
    color: #CC3300;
}
table.code td .na {
    color: #330099;
}
table.code td .nb {
    color: #336666;
}
table.code td .nc {
    color: #00AA88;
    font-weight: bold;
}
table.code td .no {
    color: #336600;
}
table.code td .nd {
    color: #9999FF;
}
table.code td .ni {
    color: #999999;
    font-weight: bold;
}
table.code td .ne {
    color: #CC0000;
    font-weight: bold;
}
table.code td .nf {
    color: #CC00FF;
}
table.code td .nl {
    color: #9999FF;
}
table.code td .nn {
    color: #00CCFF;
    font-weight: bold;
}
table.code td .nt {
    color: #330099;
    font-weight: bold;
}
table.code td .nv {
    color: #003333;
}
table.code td .ow {
    color: #000000;
    font-weight: bold;
}
table.code td .w {
    color: #BBBBBB;
}
table.code td .mf {
    color: #FF6600;
}
table.code td .mh {
    color: #FF6600;
}
table.code td .mi {
    color: #FF6600;
}
table.code td .mo {
    color: #FF6600;
}
table.code td .sb {
    color: #CC3300;
}
table.code td .sc {
    color: #CC3300;
}
table.code td .sd {
    color: #CC3300;
    font-style: italic;
}
table.code td .s2 {
    color: #CC3300;
}
table.code td .se {
    color: #CC3300;
    font-weight: bold;
}
table.code td .sh {
    color: #CC3300;
}
table.code td .si {
    color: #AA0000;
}
table.code td .sx {
    color: #CC3300;
}
table.code td .sr {
    color: #33AAAA;
}
table.code td .s1 {
    color: #CC3300;
}
table.code td .ss {
    color: #FFCC33;
}
table.code td .bp {
    color: #336666;
}
table.code td .vc {
    color: #003333;
}
table.code td .vg {
    color: #003333;
}
table.code td .vi {
    color: #003333;
}
table.code td .il {
    color: #FF6600;
}
