div.code pre .hll {
    background-color: #FFFFCC;
}
div.code pre {
    background: none repeat scroll 0 0 #EEEEDD;
}
div.code pre .c {
    color: #228B22;
}
div.code pre .err {
    background-color: #E3D2D2;
    color: #A61717;
}
div.code pre .k {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .cm {
    color: #228B22;
}
div.code pre .cp {
    color: #1E889B;
}
div.code pre .c1 {
    color: #228B22;
}
div.code pre .cs {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .gd {
    color: #AA0000;
}
div.code pre .ge {
    font-style: italic;
}
div.code pre .gr {
    color: #AA0000;
}
div.code pre .gh {
    color: #000080;
    font-weight: bold;
}
div.code pre .gi {
    color: #00AA00;
}
div.code pre .go {
    color: #888888;
}
div.code pre .gp {
    color: #555555;
}
div.code pre .gs {
    font-weight: bold;
}
div.code pre .gu {
    color: #800080;
    font-weight: bold;
}
div.code pre .gt {
    color: #AA0000;
}
div.code pre .kc {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .kd {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .kn {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .kp {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .kr {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .kt {
    color: #A7A7A7;
    font-weight: bold;
}
div.code pre .m {
    color: #B452CD;
}
div.code pre .s {
    color: #CD5555;
}
div.code pre .na {
    color: #658B00;
}
div.code pre .nb {
    color: #658B00;
}
div.code pre .nc {
    color: #008B45;
    font-weight: bold;
}
div.code pre .no {
    color: #00688B;
}
div.code pre .nd {
    color: #707A7C;
}
div.code pre .ne {
    color: #008B45;
    font-weight: bold;
}
div.code pre .nf {
    color: #008B45;
}
div.code pre .nn {
    color: #008B45;
    text-decoration: underline;
}
div.code pre .nt {
    color: #8B008B;
    font-weight: bold;
}
div.code pre .nv {
    color: #00688B;
}
div.code pre .ow {
    color: #8B008B;
}
div.code pre .w {
    color: #BBBBBB;
}
div.code pre .mf {
    color: #B452CD;
}
div.code pre .mh {
    color: #B452CD;
}
div.code pre .mi {
    color: #B452CD;
}
div.code pre .mo {
    color: #B452CD;
}
div.code pre .sb {
    color: #CD5555;
}
div.code pre .sc {
    color: #CD5555;
}
div.code pre .sd {
    color: #CD5555;
}
div.code pre .s2 {
    color: #CD5555;
}
div.code pre .se {
    color: #CD5555;
}
div.code pre .sh {
    color: #1C7E71;
    font-style: italic;
}
div.code pre .si {
    color: #CD5555;
}
div.code pre .sx {
    color: #CB6C20;
}
div.code pre .sr {
    color: #1C7E71;
}
div.code pre .s1 {
    color: #CD5555;
}
div.code pre .ss {
    color: #CD5555;
}
div.code pre .bp {
    color: #658B00;
}
div.code pre .vc {
    color: #00688B;
}
div.code pre .vg {
    color: #00688B;
}
div.code pre .vi {
    color: #00688B;
}
div.code pre .il {
    color: #B452CD;
}
table.code td .hll {
    background-color: #FFFFCC;
}
table.code td {
    background: none repeat scroll 0 0 #EEEEDD;
}
table.code td .c {
    color: #228B22;
}
table.code td .err {
    background-color: #E3D2D2;
    color: #A61717;
}
table.code td .k {
    color: #8B008B;
    font-weight: bold;
}
table.code td .cm {
    color: #228B22;
}
table.code td .cp {
    color: #1E889B;
}
table.code td .c1 {
    color: #228B22;
}
table.code td .cs {
    color: #8B008B;
    font-weight: bold;
}
table.code td .gd {
    color: #AA0000;
}
table.code td .ge {
    font-style: italic;
}
table.code td .gr {
    color: #AA0000;
}
table.code td .gh {
    color: #000080;
    font-weight: bold;
}
table.code td .gi {
    color: #00AA00;
}
table.code td .go {
    color: #888888;
}
table.code td .gp {
    color: #555555;
}
table.code td .gs {
    font-weight: bold;
}
table.code td .gu {
    color: #800080;
    font-weight: bold;
}
table.code td .gt {
    color: #AA0000;
}
table.code td .kc {
    color: #8B008B;
    font-weight: bold;
}
table.code td .kd {
    color: #8B008B;
    font-weight: bold;
}
table.code td .kn {
    color: #8B008B;
    font-weight: bold;
}
table.code td .kp {
    color: #8B008B;
    font-weight: bold;
}
table.code td .kr {
    color: #8B008B;
    font-weight: bold;
}
table.code td .kt {
    color: #A7A7A7;
    font-weight: bold;
}
table.code td .m {
    color: #B452CD;
}
table.code td .s {
    color: #CD5555;
}
table.code td .na {
    color: #658B00;
}
table.code td .nb {
    color: #658B00;
}
table.code td .nc {
    color: #008B45;
    font-weight: bold;
}
table.code td .no {
    color: #00688B;
}
table.code td .nd {
    color: #707A7C;
}
table.code td .ne {
    color: #008B45;
    font-weight: bold;
}
table.code td .nf {
    color: #008B45;
}
table.code td .nn {
    color: #008B45;
    text-decoration: underline;
}
table.code td .nt {
    color: #8B008B;
    font-weight: bold;
}
table.code td .nv {
    color: #00688B;
}
table.code td .ow {
    color: #8B008B;
}
table.code td .w {
    color: #BBBBBB;
}
table.code td .mf {
    color: #B452CD;
}
table.code td .mh {
    color: #B452CD;
}
table.code td .mi {
    color: #B452CD;
}
table.code td .mo {
    color: #B452CD;
}
table.code td .sb {
    color: #CD5555;
}
table.code td .sc {
    color: #CD5555;
}
table.code td .sd {
    color: #CD5555;
}
table.code td .s2 {
    color: #CD5555;
}
table.code td .se {
    color: #CD5555;
}
table.code td .sh {
    color: #1C7E71;
    font-style: italic;
}
table.code td .si {
    color: #CD5555;
}
table.code td .sx {
    color: #CB6C20;
}
table.code td .sr {
    color: #1C7E71;
}
table.code td .s1 {
    color: #CD5555;
}
table.code td .ss {
    color: #CD5555;
}
table.code td .bp {
    color: #658B00;
}
table.code td .vc {
    color: #00688B;
}
table.code td .vg {
    color: #00688B;
}
table.code td .vi {
    color: #00688B;
}
table.code td .il {
    color: #B452CD;
}
