div.code pre .hll {
    background-color: #FFFFCC;
}
div.code pre {
    background: none repeat scroll 0 0 #F8F8F8;
}
div.code pre .c {
    color: #8F5902;
    font-style: italic;
}
div.code pre .err {
    border: 1px solid #EF2929;
    color: #A40000;
}
div.code pre .g {
    color: #000000;
}
div.code pre .k {
    color: #204A87;
    font-weight: bold;
}
div.code pre .l {
    color: #000000;
}
div.code pre .n {
    color: #000000;
}
div.code pre .o {
    color: #CE5C00;
    font-weight: bold;
}
div.code pre .x {
    color: #000000;
}
div.code pre .p {
    color: #000000;
    font-weight: bold;
}
div.code pre .cm {
    color: #8F5902;
    font-style: italic;
}
div.code pre .cp {
    color: #8F5902;
    font-style: italic;
}
div.code pre .c1 {
    color: #8F5902;
    font-style: italic;
}
div.code pre .cs {
    color: #8F5902;
    font-style: italic;
}
div.code pre .gd {
    color: #A40000;
}
div.code pre .ge {
    color: #000000;
    font-style: italic;
}
div.code pre .gr {
    color: #EF2929;
}
div.code pre .gh {
    color: #000080;
    font-weight: bold;
}
div.code pre .gi {
    color: #00A000;
}
div.code pre .go {
    color: #000000;
    font-style: italic;
}
div.code pre .gp {
    color: #8F5902;
}
div.code pre .gs {
    color: #000000;
    font-weight: bold;
}
div.code pre .gu {
    color: #800080;
    font-weight: bold;
}
div.code pre .gt {
    color: #A40000;
    font-weight: bold;
}
div.code pre .kc {
    color: #204A87;
    font-weight: bold;
}
div.code pre .kd {
    color: #204A87;
    font-weight: bold;
}
div.code pre .kn {
    color: #204A87;
    font-weight: bold;
}
div.code pre .kp {
    color: #204A87;
    font-weight: bold;
}
div.code pre .kr {
    color: #204A87;
    font-weight: bold;
}
div.code pre .kt {
    color: #204A87;
    font-weight: bold;
}
div.code pre .ld {
    color: #000000;
}
div.code pre .m {
    color: #0000CF;
    font-weight: bold;
}
div.code pre .s {
    color: #4E9A06;
}
div.code pre .na {
    color: #C4A000;
}
div.code pre .nb {
    color: #204A87;
}
div.code pre .nc {
    color: #000000;
}
div.code pre .no {
    color: #000000;
}
div.code pre .nd {
    color: #5C35CC;
    font-weight: bold;
}
div.code pre .ni {
    color: #CE5C00;
}
div.code pre .ne {
    color: #CC0000;
    font-weight: bold;
}
div.code pre .nf {
    color: #000000;
}
div.code pre .nl {
    color: #F57900;
}
div.code pre .nn {
    color: #000000;
}
div.code pre .nx {
    color: #000000;
}
div.code pre .py {
    color: #000000;
}
div.code pre .nt {
    color: #204A87;
    font-weight: bold;
}
div.code pre .nv {
    color: #000000;
}
div.code pre .ow {
    color: #204A87;
    font-weight: bold;
}
div.code pre .w {
    color: #F8F8F8;
    text-decoration: underline;
}
div.code pre .mf {
    color: #0000CF;
    font-weight: bold;
}
div.code pre .mh {
    color: #0000CF;
    font-weight: bold;
}
div.code pre .mi {
    color: #0000CF;
    font-weight: bold;
}
div.code pre .mo {
    color: #0000CF;
    font-weight: bold;
}
div.code pre .sb {
    color: #4E9A06;
}
div.code pre .sc {
    color: #4E9A06;
}
div.code pre .sd {
    color: #8F5902;
    font-style: italic;
}
div.code pre .s2 {
    color: #4E9A06;
}
div.code pre .se {
    color: #4E9A06;
}
div.code pre .sh {
    color: #4E9A06;
}
div.code pre .si {
    color: #4E9A06;
}
div.code pre .sx {
    color: #4E9A06;
}
div.code pre .sr {
    color: #4E9A06;
}
div.code pre .s1 {
    color: #4E9A06;
}
div.code pre .ss {
    color: #4E9A06;
}
div.code pre .bp {
    color: #3465A4;
}
div.code pre .vc {
    color: #000000;
}
div.code pre .vg {
    color: #000000;
}
div.code pre .vi {
    color: #000000;
}
div.code pre .il {
    color: #0000CF;
    font-weight: bold;
}
table.code td .hll {
    background-color: #FFFFCC;
}
table.code td {
    background: none repeat scroll 0 0 #F8F8F8;
}
table.code td .c {
    color: #8F5902;
    font-style: italic;
}
table.code td .err {
    border: 1px solid #EF2929;
    color: #A40000;
}
table.code td .g {
    color: #000000;
}
table.code td .k {
    color: #204A87;
    font-weight: bold;
}
table.code td .l {
    color: #000000;
}
table.code td .n {
    color: #000000;
}
table.code td .o {
    color: #CE5C00;
    font-weight: bold;
}
table.code td .x {
    color: #000000;
}
table.code td .p {
    color: #000000;
    font-weight: bold;
}
table.code td .cm {
    color: #8F5902;
    font-style: italic;
}
table.code td .cp {
    color: #8F5902;
    font-style: italic;
}
table.code td .c1 {
    color: #8F5902;
    font-style: italic;
}
table.code td .cs {
    color: #8F5902;
    font-style: italic;
}
table.code td .gd {
    color: #A40000;
}
table.code td .ge {
    color: #000000;
    font-style: italic;
}
table.code td .gr {
    color: #EF2929;
}
table.code td .gh {
    color: #000080;
    font-weight: bold;
}
table.code td .gi {
    color: #00A000;
}
table.code td .go {
    color: #000000;
    font-style: italic;
}
table.code td .gp {
    color: #8F5902;
}
table.code td .gs {
    color: #000000;
    font-weight: bold;
}
table.code td .gu {
    color: #800080;
    font-weight: bold;
}
table.code td .gt {
    color: #A40000;
    font-weight: bold;
}
table.code td .kc {
    color: #204A87;
    font-weight: bold;
}
table.code td .kd {
    color: #204A87;
    font-weight: bold;
}
table.code td .kn {
    color: #204A87;
    font-weight: bold;
}
table.code td .kp {
    color: #204A87;
    font-weight: bold;
}
table.code td .kr {
    color: #204A87;
    font-weight: bold;
}
table.code td .kt {
    color: #204A87;
    font-weight: bold;
}
table.code td .ld {
    color: #000000;
}
table.code td .m {
    color: #0000CF;
    font-weight: bold;
}
table.code td .s {
    color: #4E9A06;
}
table.code td .na {
    color: #C4A000;
}
table.code td .nb {
    color: #204A87;
}
table.code td .nc {
    color: #000000;
}
table.code td .no {
    color: #000000;
}
table.code td .nd {
    color: #5C35CC;
    font-weight: bold;
}
table.code td .ni {
    color: #CE5C00;
}
table.code td .ne {
    color: #CC0000;
    font-weight: bold;
}
table.code td .nf {
    color: #000000;
}
table.code td .nl {
    color: #F57900;
}
table.code td .nn {
    color: #000000;
}
table.code td .nx {
    color: #000000;
}
table.code td .py {
    color: #000000;
}
table.code td .nt {
    color: #204A87;
    font-weight: bold;
}
table.code td .nv {
    color: #000000;
}
table.code td .ow {
    color: #204A87;
    font-weight: bold;
}
table.code td .w {
    color: #F8F8F8;
    text-decoration: underline;
}
table.code td .mf {
    color: #0000CF;
    font-weight: bold;
}
table.code td .mh {
    color: #0000CF;
    font-weight: bold;
}
table.code td .mi {
    color: #0000CF;
    font-weight: bold;
}
table.code td .mo {
    color: #0000CF;
    font-weight: bold;
}
table.code td .sb {
    color: #4E9A06;
}
table.code td .sc {
    color: #4E9A06;
}
table.code td .sd {
    color: #8F5902;
    font-style: italic;
}
table.code td .s2 {
    color: #4E9A06;
}
table.code td .se {
    color: #4E9A06;
}
table.code td .sh {
    color: #4E9A06;
}
table.code td .si {
    color: #4E9A06;
}
table.code td .sx {
    color: #4E9A06;
}
table.code td .sr {
    color: #4E9A06;
}
table.code td .s1 {
    color: #4E9A06;
}
table.code td .ss {
    color: #4E9A06;
}
table.code td .bp {
    color: #3465A4;
}
table.code td .vc {
    color: #000000;
}
table.code td .vg {
    color: #000000;
}
table.code td .vi {
    color: #000000;
}
table.code td .il {
    color: #0000CF;
    font-weight: bold;
}
