@import screen

#nwao-dive, #nwao-toc, #nwao-nav, #nwao-jump-to-top, #nwao-lang-switch, footer
    display: none

#nwao-content, #nwao-header, #nwao-breadcrumbs
    margin-left: 5%
    margin-right: 15%

#nwao-content
    margin-bottom: 2em

.nwao-post-content
    img
        -webkit-box-reflect: none
