@import _media

body
    font-family: 'Input Sans Cond Ex Lt'
    line-height: 1.5em

p
    // font-family: 'Input Sans Cond Lt'
    line-height: 1.45em
    font-size: 0.9em

code, pre
    font-family: 'Input Mono Ex Lt'
    font-size: 0.85em
