//@import compass/reset
@import _base

//
// FONTS
//

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic&text=%D0%BD%D0%B8%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D0%BE%D0%BB%D1%83%D0%BA%D0%B5&oq=%D0%BD%D0%B8+%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D0%BE%D0%BB%D1%83%D0%BA%D0%B5Nowordaboutonion%20)

$title-font: 'Droid Serif', 'Platan BG', Palatino, Baskerville, serif
$heading-font: 'PT Sans', 'Droid Sans', 'Droid Serif', Palatino, Geneva, Helvetica, serif
$text-font: Ubuntu, 'Lucida Grande', 'Open Sans', 'Droid Sans', 'PT Sans', Geneva, Helvetica, Georgia, sans-serif
$code-font: 'Ubuntu Mono', Menlo, 'Courier New', 'Droid Sans Mono' 
//$default-font: 'Droid Serif', 'PT Sans', sans-serif;

$base-font-size: 16px

$bg-color: white // #ffab00
$page-color: white // #fffffd
$code-bg-color: #f3f3f3 // #fafcff, #ffeeaa
$heading-bg-color: #fffbd5
$hilite-color: #179
$hilite-dark-color: #057
$tags-bg: #99A // #67A, #180
$transp-tilt: rgba(200, 200, 200, 0.2)
$lite-transp-tilt: rgba(200, 200, 200, 0.1)

$code-border: 2px dashed #eaece9

// layout :
// ------
//
// body
//   div#nwao-page
//     div#nwao-header
//       nav
//         ul
//       h1 a
//       [h2]
//     div#nwao-content
//       ---> content <---
//     [ul#nwao-social]
//     div#nwao-footer
//       p a

// content:post :
// ------------
// 
// article#nwao-post
//   div.nwao-post-header
//     h2.nwao-post-title
//     dl
//   div.nwao-post-content

// content:index :
// -------------

// content:archive :
// -------------

// content:tag :
// -------------

body
    background-color: $bg-color
    font-family: $text-font
    font-size: $base-font-size
    margin: 0

#nwao-page
    margin: 0 16% 0 16%
    background-color: $page-color

article
    //padding: 100px 75px 40px 75px
    //padding: 100px 60px 40px 60px
    //padding: 130px 75px 200px 75px
    padding: 75px 10% 100px 10%

article, section

    p, ul, ol, dl
        // font-family: $text-font
        font-size: 1.1em
        line-height: 1.6em

    p
        padding: 2px 0 16px 0

    img
        border: 1px solid #999
        //@include box-shadow(#acacac 1px 1px 4px)
        @include box-shadow(#6c6c6c 1px 1px 9px -2px)
        display: block
        margin: 10px auto
        padding: 4px
        color: #999
        @include opacity(0.8)
        max-width: 93%

        &:hover
            @include box-shadow(#3c3c3c 1px 1px 9px -2px)
            @include opacity(1.0)

    code
        background-color: #eee

    pre > code
        display: block
        background-color: $code-bg-color
        padding: 10px
        margin: 8px 8px 30px 8px
        font-size: 1.0em
        line-height: 1.4em
        overflow: hidden
        @include border-radius(5px)

        &:hover
            @include opacity(1.0)
            color: #000
            overflow: auto

    .linenos, table.highlighttable td.code
        background-color: $code-bg-color
        padding: 10px

    div.code
        overflow: hidden
        font-size: 1.0em
        line-height: 1.4em
        margin: 8px 8px 30px 8px
        background-color: $code-bg-color
        @include border-radius(5px)

        &:hover
            @include opacity(1.0)
            color: #000
            overflow: auto

    pre, code, div.code
        font-family: $code-font
        font-size: 1em

    blockquote
        margin-left: 7px
        padding: 0 10px
        border-left: 30px solid #ddd

.nwao-hidden
    display: none

// HEADINGS

h1, h2, h3, h4, h5, h6
    font-family: $heading-font
    font-weight: 400

    a
        text-decoration: none

        &:hover
            cursor: pointer

        &:visited
            color: black

h1
    font-size: 3.2em
    margin: 80px 0 30px 0
       
    &:hover
        background-color: #ccc
    
h2, h3
    color: #000

    a
        color: inherit

        &:hover
            color: inherit
       
h2
    font-size: 2.4em
    margin: 35px 0 11px 0

    a
        color: #000

h3, h4, h5, h6
    //color: #333
    padding: 5px 5px 5px 10px
    border:
        color: #333
        style: solid
        width: 0 0 3px 0
       
    &:hover
        background-color: #eee
        @include transition(background 0.5s linear)

    &:hover:after
        content: "#"
        color: #ccc
        margin: 0 3px
        position: absolute
        //top: -2px        

h3
    font-size: 2em
    margin: 80px 0 40px 0
    text-align: left

h4, h5, h6

    a
        color: inherit

        &:hover
            color: inherit
       
h4
    font-size: 1.6em
    color: #4f4f4f
    margin: 50px 0 25px 0
    border:
        color: #999
        width: 0 0 2px 0
    text-align: left
       
h5, h6
    font-size: 1.4em
    color: #6f6f6f
    border:
        color: #999
        width: 0 0 1px 0
    text-align: left

// LINK

a
    color: $hilite-color
       
    &:hover
        color: $hilite-dark-color

    &:visited
        color: #09a

a.nwao-button
    border: 1px solid $hilite-dark-color
    @include border-radius(3px)
    text-decoration: none
    padding: 0.3em

    &:hover
        background-color: $hilite-color
        color: $page-color
        @include transition(background,color 1s linear)

// .nwao-selection
//    color: $hilite-color
       
// TOP HEADER

#nwao-header
    margin: 0
    text-align: center

    a
        color: #000

    #nwao-holder
        border:
            style: solid none
            color: #666
            width: 0 1px 4px 1px
       
        h1
            
            margin: 0
            padding: 0
           
            font:
                family: $title-font
                size: 3.8em
                weight: 400
            
            padding: 70px 5px 25px 20px
            margin: 0
            word-spacing: 0.05em
            //@include radial-gradient-bg(#ffffd9, #ffeec0, $heading-bg-color)

            &:hover
                //background: $heading-bg-color
                //@include radial-gradient-bg(#fffbd5, #ffeabd, $heading-bg-color)
                //@include transition(background 2s linear)
                background-color: #fefefe

            a:hover
                background-color: $transp-tilt
       

    div#nwao-subtitle
        color: #999
        font:
            family: $heading-font
            size: 1.5em
            //style: italic
        padding: 10 5px 5px 5px
        border:
            style: solid
            color: #eee
            width: 8px 0 0 0
       
    // em
    //   position: relative
    //   left: 4px
       
    // nav > ul
    //   visibility: hidden

#nwao-header nav
    display: block

    ul
        width: 100%
        display: inline-block
        margin: 0
        padding: 0
        list-style: none
        background-color: black

        li
            display: inline
            text-transform: uppercase

            a
                color: $page-color
                padding: 2px 5px
                margin: 2px 2.5%
                text-decoration: none             

                &:hover
                    background-color: $page-color
                    color: $hilite-color

// PAGE TITLE

.nwao-page-title-anchor
    margin: 0 30px 60px 30px
    border-bottom: 2px solid black

    h2#nwao-page-title
        text-align: center
        background-color: white
        font-size: 2.6em
        color: black
        padding: 10px
        margin: 0
        margin-bottom: 0

        a
            color: black
            position: relative
            left: -10px

            &:hover
                color: #606
                @include transition(color 1s ease)

        &:hover
            @include transition(background-color 0.5s ease)
            background-color: #eee

// POST HEADER

.nwao-post-header

    margin: 0 0 40px 0
    //border-right: 10px solid #bbb

    h2
        padding: 0 14px
        text-align: right
        margin: 35px 0 0 0
        //border-bottom: 2px solid #067
        position: relative
        
        &:hover
            background-color: #eee
            @include transition(background 0.5s linear)

        &:hover:before
            float: left
            content: "#"
            color: #ccc
            position: absolute
            top: -2px
            left: 5px

    dl 
        font-size: 0.9em
        display: block
        padding: 3px
        margin: 2px
        text-align: right
        line-heght: 1em

    dl > dt, dl > dd 
        display: inline
        margin: 0 11px 0 0        

    dl > dt
        display: none

    dl > dd, dl > dt
        color: #666

    dd.nwao-published
        float: left
        margin: 2px 0

// TAGS

.nwao-tags, .nwao-post-header dd.nwao-tags, 

    color: #eee
    margin: 0 4px

    a
        line-height: 1em
        display: inline-block
        margin: 1px
        font-size: 0.8em
        padding: 2px 3px
        text-decoration: none
        @include border-radius(3px)
        border:
            width: 1px
            color: $tags-bg
            style: solid
        color: #666

        &:hover
            background-color: $tags-bg
            color: $page-color

// SOCIAL BLOCK

ul#nwao-social
    margin: 5px
    padding: 5px
    display: inline-block
    background-color: #eee
    position: fixed
    right: 5px
    top: 5px    
    @include border-radius(3px)
    @include opacity(0.5)
    border:
        width: 1px
        color: #eee
    list-style: none

    li
        display: inline
        padding: 5px

// FOOTER

#nwao-footer
    font-size: 0.6em
    color: #666
    background-color: $transp-tilt
    position: fixed
    right: 0
    bottom: 0
    z-index: 2

    p 
        margin: 0
        padding: 5px

// ONION

#nwao-onion
    //display: none // TODO: show on scroll to end
    //@include opacity(0.8)
    float: right
    right: 0
    bottom: 0
    width: 310px
    height: 207px
    z-index: 1
    background:
        repeat: no-repeat
        image: url('../../assets/img/onions.png')
        position: 0 -207px

    &:hover
        //@include opacity(1.0)
        @include transition(background-image 3s ease)
        //@include transition(background 10s)
        background:
            repeat: no-repeat
            image: url('../../assets/img/onions.png')
            position: 0 0

// TO-TOP

#nwao-jump-to-top
    background-color: $transp-tilt
    @include border-radius(3px)
    @include opacity(0.3)
    font-size: 1.1em
    position: fixed
    left: 14%
    bottom: 0

    a
        text-decoration: none
        display: inline-block
        padding: 8px

    &:hover
        @include opacity(1.0)

// FEED, ARCHIVES, TAGS STYLES

#nwao-blog-feed, #nwao-archives, #nwao-archive, #nwao-tagged

    padding: 50px 75px 100px 75px

    .nwao-post-header
        
        dl
            font-size: 0.9em

        h2
            text-align: center
            #background-color: #ddd
            border-bottom: 2px solid #067

            &:hover:before
                display: none
                content: ""

            a
                //color: $hilite-dark-color
                color: black

                &:hover
                    color: #046
                    @include transition(color 1s ease)

            &:hover
                background-color: #eee
                @include transition(background 1s ease)

#nwao-blog-feed .nwao-page-title-anchor

    display: none

.nwao-blog-feed-item
    margin: 0 0 80px 0

    .nwao-continue
        display: inline-block
        width: 49%
        font-size: 1em
        position: relative
        left: 14px
        bottom: 7px

    .nwao-item-marker
        display: inline-block
        width: 50%
        text-align: right
        font-size: 2.1em
        color: #999
        position: relative
        right: 20px

.nwao-post-excerpt
    margin: 0 15px 15px 15px

    p
        padding: 0

.nwao-continue p
    margin: 10px

#nwao-pagination
    font-size: 2em
    width: 100%
    text-align: center

#nwao-archive, #nwao-archives, #nwao-tagged

    .nwao-page-title-anchor
        margin-bottom: 50px

dl.nwao-archives-year

    padding: 20px 0
    margin: 30px 0

    & > dt
        text-align: center

        & > a
            font-size: 2em

dl.nwao-archive-items
        
    padding: 10px 0
    margin: 15px 0

    & > dt
        border-bottom: 2px solid #ddd
        padding: 5px
        margin-top: 20px
        margin-bottom: 10px

    & > dd
        margin-bottom: 25px

        & > a
            font-family: $heading-font
            font-size: 1.8em
            text-decoration: none
            padding: 5px
            display: block
            margin-bottom: 4px

            &:hover
                background-color: #eee
                @include transition(background 0.5s linear)

// DIVER
       
// #nwao-dive
    
//    color: #fff
//    height: 20px
//    overflow: hidden

//    span
//        visibility: hidden
       
//    > a
//        color: #3399BB
//        padding: 0 5px
//        font-size: 0.8em
//        text:
//            decoration: none
//            transform: lowercase

//        &:hover
//            background-color: #eee
       
//    #nwao-prev
//        position: absolute 
       
//    #nwao-next
//        float: right