<dl class="nwao-post-infoline">
    <dt class="nwao-published">Опубликован</dt>
    <dd class="nwao-published">
        <a href="{{ get_url('archives/' + post.timestamp|date('%Y') + '/') }}"
           title="{{ post.timestamp|date('%d %B %Y, %A') }}">
           <time datetime="%d-%m-%Y" pubdate>{{ post.timestamp|date('%d %b %Y') }}</time>
        </a>
    </dd>
    {% if post.tags %}
        <dt class="nwao-tags-title">Метки</dt>
        <dd>
            <div class="nwao-tags">
                {% for tag in post.tags %}
                    <a href="{{ get_url(posts.tags[tag].url) }}" rel="tag"
                       title="Статьи с меткой '{{ tag.name }}'">{{ tag }}</a>
                    {% if posts.tags[tag].count %}
                        <span class="tag-count">{{ posts.tags[tag].count }}</span>
                    {% endif %}
                    {% if not loop.last %}
                        <span class="nwao-comma">,</span>
                    {% endif %}
                {% endfor %}
            </div>
        </dd>
    {% endif %}
</dl>
