<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}

</head>

<body>
    <div id="nwao-page">
        <div id="nwao-header">
            <div id="nwao-holder">
                <nav id="nwao-nav"><ul>
                    <li><a href="{{ get_url() }}" rel="contents" title="Блог"><i class="icon-home"></i>&nbsp;Блог</a></li>
                    <li><a href="{{ get_url('archives/') }}" rel="index" title="Архив"><i class="icon-book"></i>&nbsp;Архив</a></li>
                    <li><a href="http://shamansir.github.com" rel="author" title="Автор"><i class="icon-user"></i>&nbsp;Автор</a></li>
                    <!-- TODO: TAGS PAGE -->
                    {% if site.feed %}<li><a href="{{ get_url('feed.xml') }}" title="Лента"><i class="icon-rss"></i>&nbsp;RSS</a></li>{% endif %}
                </ul></nav>

                <h1 id="nwao-title"><a href="{{ get_url() }}" title="{{ site.title }}">&raquo;{{ site.title }}&laquo;</a></h1>
            </div>
            {% if site.subtitle %}<div id="nwao-subtitle"><span>{{ site.subtitle }}</span></div>{% endif %}
        </div>

        {% block breadcrumbs %}{% endblock %}

        {% block dive %}{% endblock %}

        <div id="nwao-content">
            {% block content %}{% endblock %}
        </div>

        {% if site.social.values()|sort(true)|first %}
            <ul id="nwao-social">
                {% if site.social.twitter %}<li><a href="https://twitter.com/#!/{{ site.social.twitter }}" title="профиль в Twitter"><img src="{{ get_asset('img/social/twitter.png') }}" width="16" height="16" alt="профиль в Twitter"></a></li>{% endif %}
                {% if site.social.github %}<li><a href="https://github.com/{{ site.social.github }}" title="профиль на Github"><img src="{{ get_asset('img/social/github.png') }}" width="16" height="16" alt="профиль на Github"></a></li>{% endif %}
                {% if site.social.dribbble %}<li><a href="http://dribbble.com/{{ site.social.dribbble }}" title="профиль в Дрибадан"><img src="{{ get_asset('img/social/dribbble.png') }}" width="16" height="16" alt="профиль в Dribble"></a></li>{% endif %}
                {% if site.social.facebook %}<li><a href="https://www.facebook.com/{{ site.social.facebook }}" title="профиль в Facebook"><img src="{{ get_asset('img/social/facebook.png') }}" width="16" height="16" alt="профиль в Facebook"></a></li>{% endif %}
                {% if site.social.google_plus %}<li><a href="https://plus.google.com/{{ site.social.google_plus }}" title="профиль в Google+"><img src="{{ get_asset('img/social/google-plus.png') }}" width="16" height="16" alt="профиль в Google+"></a></li>{% endif %}
                {% if site.social.lastfm %}<li><a href="http://www.last.fm/user/{{ site.social.lastfm }}" title="профиль на Last.fm"><img src="{{ get_asset('img/social/lastfm.png') }}" width="16" height="16" alt="профиль на Last.fm"></a></li>{% endif %}
                {% if site.social.stack_overflow %}<li><a href="http://stackoverflow.com/users/{{ site.social.stack_overflow }}" title="профиль на Stackoverflow"><img src="{{ get_asset('img/social/stack-overflow.png') }}" width="16" height="16" alt="профиль на Stack Overflow"></a></li>{% endif %}
                {% if site.social.steam %}<li><a href="http://steamcommunity.com/id/{{ site.social.steam }}" title="профиль в Steam"><img src="{{ get_asset('img/social/steam.png') }}" width="16" height="16" alt="профиль в Steam"></a></li>{% endif %}
            </ul>
        {% endif %}

        <div id="nwao-footer">
            <p>{% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}запитано <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
        </div>

        <div id="nwao-jump-to-top"><a href="#top" title="Вира!">&#x2912;</a></div>

        <!--
        <script type="text/javascript" src="{{ get_asset('js/scrolls.js') }}"></script>
        <script type="text/javascript" src="{{ get_asset('js/page.scrolls.js') }}"></script> -->


        </script>
    </div>

    <div id="nwao-onion"></div>
</body>
</html>
