<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}

</head>

<body>
    <aside id="nwao-sidebar">
        <h1 id="nwao-title"><a href="{{ get_url() }}" title="{{ site.title }}">&raquo;{{ site.title }}&laquo;</a></h1>

        {% if site.subtitle %}<div id="nwao-subtitle"><span>{{ site.subtitle }}</span></div>{% endif %}        
    </aside>
    <div id="nwao-page">
        <div id="nwao-header">
            <nav id="nwao-nav"><ul>
                <li><a href="{{ get_url() }}" rel="contents" title="Блог"><i class="icon-home"></i>&nbsp;Блог</a></li>
                <li><a href="{{ get_url('archives/') }}" rel="index" title="Архив"><i class="icon-book"></i>&nbsp;Архив</a></li>
                <li><a href="http://shamansir.github.com" rel="author" title="Автор"><i class="icon-user"></i>&nbsp;Автор</a></li>
                <!-- TODO: TAGS PAGE -->
                {% if site.feed %}<li><a href="{{ get_url('feed.xml') }}" title="Лента"><i class="icon-rss"></i>&nbsp;RSS</a></li>{% endif %}
            </ul></nav>
        </div>

        <!--
        <nav>
          <div id="nwao-dive">
            <a href="#" id="nwao-prev">← Предыдущий пост</a><span> | </span>
            <a href="#" id="nwao-next">Следующий пост →</a>
          </div>
        </nav>
        -->
        
        <div id="nwao-content">
            {% block content %}{% endblock %}
        </div>
        
        {% if site.social.values()|sort(true)|first %}
            {% include 'blocks/page.social.html' %}
        {% endif %}

        <div id="nwao-footer">
            <p>{% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}запитано <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
        </div>

        <div id="nwao-jump-to-top"><a href="#top" title="Вира!">&#x2912;</a></div>

        <!--
        <script type="text/javascript" src="{{ get_asset('js/scrolls.js') }}"></script>
        <script type="text/javascript" src="{{ get_asset('js/page.scrolls.js') }}"></script> -->


        </script>
    </div>

    <div id="nwao-onion"></div>
</body>
</html>
