{% extends 'layout.html' %}


{% set post = item %}

{% set title = 'nwao — ' + post.title %}

{% set section_id = 'post' %}

{% set crumbs = (
    ('Блог',''),
    ('Статьи','/articles'),
    (post.title|truncate(35), None)
) %}

{% set toc = post.toc %}

{% set has_diver = true %}

{% block dive %}
    <ul>
        {% if post.prev %}
            <li id="nwao-prev">
                <a href="{{ get_url(post.prev.url) }}"
                   title="{{ post.prev.title }}">Предыдущая статья</a>
            </li>
        {% endif %}
        {% if post.next %}
            <li id="nwao-next">
                <a href="{{ get_url(post.next.url) }}"
                   title="{{ post.next.title }}">Следующая статья</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <article>
        {% include '_blocks/post.header.html' %}

        <div class="nwao-post-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
