{% extends 'layout.html' %}


{% set title = 'nwao — Archives  &rsaquo; ' ~ archive.year %}

{% set section_id = 'archive' %}

{% set crumbs = (
    ('Blog',''),
    ('Archives','/archives'),
    (archive.year, None)
) %}

{% block content %}
    <h2 id="nwao-page-title">
        <a href="#top" title="Archives — {{ archive.year }}">
            <i class="icon-book"></i>
            <span id="nwao-page-title-primary">Archives</span>
            <span id="nwao-page-title-splitter">&ndash;</span>
            <span id="nwao-page-title-secondary">{{ archive.year }}</span>
        </a>
    </h2>

    {% for month, month_posts in archive.months|items %}
        {% include '_blocks/list.month.html' %}
    {% endfor %}
{% endblock %}
