{% extends 'layout.html' %}


{% set title = 'nwao — Archives  &rsaquo; ' ~ archive.year %}

{% block breadcrumbs %}
    <ul id="nwao-breadcrumbs">
        <li><a href="{{ get_url() }}">Blog</a></li>
        <li><a href="{{ get_url('/archives') }}">Archives</a></li>
        <li>{{ archive.year }}</li>
    </ul>
{% endblock %}

{% block content %}
	<div id="nwao-archive">

        <h2 id="nwao-page-title">
            <a href="#top" title="Archives — {{ archive.year }}">
                <i class="icon-book"></i>
                <span id="nwao-page-title-primary">Archives</span>
                <span id="nwao-page-title-splitter">&mdash;</span>
                <span id="nwao-page-title-secondary">{{ archive.year }}</span>
            </a>
        </h2>

	    <ul class="nwao-archive-items">
            {% for month, item in archive.months|items %}
                {% include 'blocks/archive.month.html' %}
            {% endfor %}
        </ul>
	</div>
{% endblock %}
