{% from 'macros.html' import toc as build_toc %}

<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}

</head>

<body>
    <div id="nwao-page">

        {% include '_blocks/blog.header.html' %}

        <ul id="nwao-lang-switch">
            <li>English Version</li>
            <li><a href="./ru" title="Russian Version">Russian Version</a></li>
        </ul>

        {% block breadcrumbs %}{% endblock %}

        {% block dive %}{% endblock %}

        {% block toc %}{% endblock %}

        <div id="top"></div>

        <div id="nwao-content">
            {% block content %}{% endblock %}
        </div>

        {% if site.social.values()|sort(true)|first %}
            {% include '_blocks/social.html' %}
        {% endif %}

        <div id="nwao-footer">
            <p>{% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
        </div>

        <div id="nwao-jump-to-top"><a href="#top" title="Back to top">Back to top</a></div>

        <!--
        <script type="text/javascript" src="{{ get_asset('js/scrolls.js') }}"></script>
        <script type="text/javascript" src="{{ get_asset('js/page.scrolls.js') }}"></script> -->


        </script>
    </div>

    <div id="nwao-onion"></div>
</body>
</html>
