{% from 'macros.html' import toc as build_toc %}
{% from 'macros.html' import breadcrumbs %}

<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}

</head>

<body>

    {% include '_blocks/blog.header.html' %}

    <ul id="nwao-lang-switch">
        <li>English Version</li>
        <li><a href="{{ get_url('./ru') }}" title="Russian Version">Russian Version</a></li>
    </ul>

    <div id="top"></div>

    {% if crumbs %}
        <nav role="breadcrumbs" id="nwao-breadcrumbs">
            {{ breadcrumbs(crumbs) }}
        </nav>
    {% endif %}

    {% if has_diver %}
        <nav role="dive" id="nwao-dive">
            {% block dive %}{% endblock %}
        </nav>
    {% endif %}

    {% if toc %}
        <nav role="table-of-contents" id="nwao-toc">
            <h3>Contents:</h3><a href="#top" title="top">(top)</a>
            {{ build_toc(toc) }}
        </nav>
    {% elif has_custom_toc %}
        <nav role="table-of-contents" id="nwao-toc">
            <h3>Contents:</h3><a href="#top" title="top">(top)</a>
            {% block custom_toc %}{% endblock %}
        </nav>
    {% endif %}

    <section id="nwao-content"{% if section_id %} class="nwao-{{ section_id }}"{% endif %}>
        {% block content %}{% endblock %}
    </section>

    {% if site.social.values()|sort(true)|first %}
        {% include '_blocks/social.html' %}
    {% endif %}

    <div id="nwao-jump-to-top"><a href="#top" title="Back to top">Back to top</a></div>

    <footer id="nwao-footer">
        <p>{% if site.author %}Copyright &copy; {{ none|date('%Y') }} {{ site.author }}; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/" title="mynt">mynt</a> and <a href="http://input.fontbureau.com/" title="Input fonts">Input fonts</a></p>
    </footer>

    <!--
    <script type="text/javascript" src="{{ get_asset('js/scrolls.js') }}"></script>
    <script type="text/javascript" src="{{ get_asset('js/page.scrolls.js') }}"></script> -->

</body>
</html>
