{% macro toc(leaf) %}
    {% if leaf %}
        {% if leaf.parent %}
            {# the root leaf has no parent #}
            <li>
                <a href="#{{ leaf.identifier }}" title="{{ leaf.text }}">{{ leaf.text }}</a>
                {% if leaf.children %}
                    <ul>
                        {% for subleaf in leaf.children %}
                            {{ toc(subleaf) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            {# the root leaf should just fall inside #}
            {% for subleaf in leaf.children %}
                {{ toc(subleaf) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{%- endmacro %}
