{% extends 'layout.html' %}


{% set post = item %}

{% set title = 'nwao — ' + post.title %}

{% block breadcrumbs %}
    <ul id="nwao-breadcrumbs">
        <li><a href="{{ get_url() }}">Blog</a></li>
        <li><a href="{{ get_url('/articles') }}">Articles</a></li>
        <li>{{ post.title|truncate(75) }}</li>
    </ul>
{% endblock %}

{% block dive %}
  <div id="nwao-dive">
    {% if post.prev %}<a href="{{ post.prev.url }}" id="nwao-prev">Previous article</a>{% endif %}
    {% if post.next %}<a href="{{ post.next.url }}" id="nwao-next">Next article</a>{% endif %}
  </div>
{% endblock %}

{% if post.toc %}
    {% block toc %}
        <nav role="article-navigation">
            <label for="nwao-toc">Contents:</label>
            <ul id="nwao-toc">
                {{ build_toc(post.toc) }}
            </ul>
        </nav>
    {% endblock %}
{% endif %}

{% block content %}
    <article id="nwao-post">
        <div id="top"></div>
        {% include '_blocks/post.header.html' %}

        <div class="nwao-post-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
