{% extends 'layout.html' %}


{% set post = item %}

{% set title = 'nwao — ' + post.title %}

{% set section_id = 'post' %}

{% set crumbs = (
    ('Blog',''),
    ('Articles','/articles'),
    (post.title|truncate(75), None)
) %}

{% set toc = post.toc %}

{% block dive %}
    <nav role="dive">
        <ul id="nwao-dive">
            {% if post.prev %}
                <li>
                    <a href="{{ post.prev.url }}"
                       title="{{ post.prev.title }}" id="nwao-prev">Previous article</a>
                </li>
            {% endif %}
            {% if post.next %}
                <li>
                    <a href="{{ post.next.url }}"
                       title="{{ post.next.title }}" id="nwao-next">Next article</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <article>
        {% include '_blocks/post.header.html' %}

        <div class="nwao-post-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
