{% extends 'layout.html' %}


{% set title = 'nwao — ' + item.title %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}">■</a></li>
        <li>{{ item.title|truncate(75) }}</li>
    </ul>
{% endblock %}

{% block dive %}
  <div id="nwao-dive">
    {% if item.prev %}<a href="{{ item.prev.url }}" id="nwao-prev">← Previous post</a>{% endif %}
    {% if item.next %}<a href="{{ item.next.url }}" id="nwao-next">Next post →</a>{% endif %}
  </div>
{% endblock %}

<!-- TODO: TOC -->

{% block content %}
    <article id="nwao-post">
        <div class="nwao-post-header">
            <h2 class="nwao-post-title" id="top">
                <a href="#top" title="{{ item.title }}">
                    {{ item.title }}
                </a>
            </h2>
            <dl class="nwao-post-infoline">
                <dt class="nwao-hidden">Published at</dt>
                <dd class="nwao-published"><i class="icon-time"></i>&nbsp;{{ item.timestamp|date('%d %B %Y, %A') }}</dd>
                {% if item.tags %}
                    <dt class="nwao-hidden">Tags</dt>
                    <dd class="nwao-tags">
                    {% for tag in item.tags %}
                        <a href="{{ get_url(posts.tags[tag].url) }}" rel="tag" title="Posts with '{{ tag }}' tag"><i class="icon-tag"></i>&nbsp;{{ tag }}</a>{% if not loop.last %}<span class="nwao-hidden">,</span> {% endif %}
                    {% endfor %}
                    </dd>
                {% endif %}
            </dl>
        </div>

        <div class="nwao-post-content">
            {{ item.content }}
        </div>
    </article>
{% endblock %}
