{% extends 'layout.html' %}


{% set title = 'Tag  &rsaquo; ' ~ tag.name %}

{% block content %}
    <div id="nwao-tagged">
        <div id="top" class="nwao-page-title-anchor">
            <h2 id="nwao-page-title">
                <a href="#top" title="Tag — {{ tag.name }}"><i class="icon-tag"></i><span class="nwao-hidden">&nbsp;Tag&nbsp;&raquo;</span>&nbsp;{{ tag.name }}</a>
            </h2>
        </div>
        {% for year, archive in tag.archives %}
            {% include 'blocks/archive.year.html' %}
        {% endfor %}
    </div>
{% endblock %}
