{% extends 'layout.html' %}


{% set title = 'nwao — Tag  &rsaquo; ' ~ tag.name %}

{% set crumbs = (
    ('Blog',''),
    ('Tags','/tags'),
    (tag.name, None)
) %}

{% block content %}
    <section id="nwao-tagged">

        <h2 id="nwao-page-title">
            <a href="#top" title="Tag — {{ tag.name }}">
                <i class="icon-tag"></i>
                <span id="nwao-page-title-primary">Tag</span>
                <span id="nwao-page-title-splitter">&mdash;</span>
                <span id="nwao-page-title-secondary">{{ tag.name }}</span>
            </a>
        </h2>

        {% for year, archive in tag.archives|items %}
            {% include '_blocks/list.year.html' %}
        {% endfor %}
    </section>
{% endblock %}
