@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic&text=%D0%BD%D0%B8%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D0%BE%D0%BB%D1%83%D0%BA%D0%B5&oq=%D0%BD%D0%B8+%D1%81%D0%BB%D0%BE%D0%B2%D0%B0%D0%BE%D0%BB%D1%83%D0%BA%D0%B5Nowordaboutonion%20);
/*@mixin rotate($angle, $origin)
 * if $origin
 *     -moz-transform-origin: $origin
 *     -webkit-transform-origin: $origin
 *     -o-transform-origin: $origin
 *     transform-origin: $origin
 * -moz-transform:rotate($angle)
 * -webkit-transform: rotate($angle)
 * -o-transform: rotate($angle)
 * transform: rotate($angle)
 * filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1) */
body {
  background-color: white;
  font-family: Ubuntu, "Lucida Grande", "Open Sans", "Droid Sans", "PT Sans", Geneva, Helvetica, Georgia, sans-serif;
  font-size: 16px;
  margin: 0;
}

#nwao-page {
  margin: 0 16% 0 16%;
  background-color: white;
}

article {
  padding: 75px 10% 100px 10%;
}

article p, article ul, article ol, article dl, section p, section ul, section ol, section dl {
  font-size: 1.1em;
  line-height: 1.8em;
}
article p, section p {
  padding: 0 1px 16px 0;
}
article img, section img {
  border: 1px solid #999999;
  -webkit-box-shadow: #6c6c6c 1px 1px 9px -2px;
  box-shadow: #6c6c6c 1px 1px 9px -2px;
  display: block;
  margin: 30px auto;
  padding: 4px;
  color: #999999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8 * 100)";
  filter: alpha(opacity=0.8 * 100);
  opacity: 0.8;
  max-width: 93%;
}
article img:hover, section img:hover {
  -webkit-box-shadow: #3c3c3c 1px 1px 9px -2px;
  box-shadow: #3c3c3c 1px 1px 9px -2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 * 100)";
  filter: alpha(opacity=1 * 100);
  opacity: 1;
}
article code, section code {
  background-color: #eeeeee;
}
article pre > code, section pre > code {
  display: block;
  background-color: #f3f3f3;
  padding: 10px;
  margin: 8px;
  font-size: 1em;
  line-height: 1.6em;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
article pre > code:hover, section pre > code:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 * 100)";
  filter: alpha(opacity=1 * 100);
  opacity: 1;
  color: black;
  overflow: auto;
}
article .linenos, article table.highlighttable td.code, section .linenos, section table.highlighttable td.code {
  background-color: #f3f3f3;
}
article div.code, section div.code {
  overflow: hidden;
  font-size: 1em;
  line-height: 1.6em;
  margin: 8px;
  background-color: #f3f3f3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
article div.code:hover, section div.code:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 * 100)";
  filter: alpha(opacity=1 * 100);
  opacity: 1;
  color: black;
  overflow: auto;
}
article pre, article code, article div.code, section pre, section code, section div.code {
  font-family: "Ubuntu Mono", Menlo, "Courier New", "Droid Sans Mono";
  font-size: 1em;
}
article blockquote, section blockquote {
  margin-left: 7px;
  padding: 0 10px;
  border-left: 30px solid #dddddd;
}

.nwao-hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", "Droid Sans", "Droid Serif", Palatino, Geneva, Helvetica, serif;
  font-weight: 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  cursor: pointer;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: black;
}

h1 {
  font-size: 3.2em;
  margin: 80px 0 30px 0;
}
h1:hover {
  background-color: #cccccc;
}

h2, h3 {
  color: black;
}
h2 a, h3 a {
  color: inherit;
}
h2 a:hover, h3 a:hover {
  color: inherit;
}

h2 {
  font-size: 2.4em;
  margin: 35px 0 11px 0;
}
h2 a {
  color: black;
}

h3, h4, h5, h6 {
  padding: 5px 5px 5px 10px;
  border-color: #333333;
  border-style: solid;
  border-width: 0 0 3px 0;
}
h3:hover, h4:hover, h5:hover, h6:hover {
  background-color: #eeeeee;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
h3:hover:after, h4:hover:after, h5:hover:after, h6:hover:after {
  content: "#";
  color: #cccccc;
  margin: 0 3px;
  position: absolute;
}

h3 {
  font-size: 2em;
  margin: 80px 0 40px 0;
  text-align: left;
}

h4 a, h5 a, h6 a {
  color: inherit;
}
h4 a:hover, h5 a:hover, h6 a:hover {
  color: inherit;
}

h4 {
  font-size: 1.6em;
  color: #4f4f4f;
  margin: 50px 0 25px 0;
  border-color: #999999;
  border-width: 0 0 2px 0;
  text-align: left;
}

h5, h6 {
  font-size: 1.4em;
  color: #6f6f6f;
  border-color: #999999;
  border-width: 0 0 1px 0;
  text-align: left;
}

a {
  color: #117799;
}
a:hover {
  color: #005577;
}
a:visited {
  color: #0099aa;
}

a.nwao-button {
  border: 1px solid #005577;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  padding: 0.3em;
}
a.nwao-button:hover {
  background-color: #117799;
  color: white;
  -webkit-transition: background, color 1s linear;
  -moz-transition: background, color 1s linear;
  -ms-transition: background, color 1s linear;
  -o-transition: background, color 1s linear;
  transition: background, color 1s linear;
}

#nwao-header {
  margin: 0;
  text-align: center;
}
#nwao-header a {
  color: black;
}
#nwao-header #nwao-holder {
  border-style: solid none;
  border-color: #666666;
  border-width: 0 1px 4px 1px;
}
#nwao-header #nwao-holder h1 {
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", "Platan BG", Palatino, Baskerville, serif;
  font-size: 3.8em;
  font-weight: 400;
  padding: 70px 5px 25px 20px;
  margin: 0;
  word-spacing: 0.05em;
}
#nwao-header #nwao-holder h1:hover {
  background-color: #fefefe;
}
#nwao-header #nwao-holder h1 a:hover {
  background-color: rgba(200, 200, 200, 0.2);
}
#nwao-header div#nwao-subtitle {
  color: #999999;
  font-family: "PT Sans", "Droid Sans", "Droid Serif", Palatino, Geneva, Helvetica, serif;
  font-size: 1.5em;
  padding: 10 5px 5px 5px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 8px 0 0 0;
}

#nwao-header nav {
  display: block;
}
#nwao-header nav ul {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: black;
}
#nwao-header nav ul li {
  display: inline;
  text-transform: uppercase;
}
#nwao-header nav ul li a {
  color: white;
  padding: 2px 5px;
  margin: 2px 2.5%;
  text-decoration: none;
}
#nwao-header nav ul li a:hover {
  background-color: white;
  color: #117799;
}

.nwao-page-title-anchor {
  margin: 30px;
  padding: 20px;
  border-bottom: 2px solid black;
}
.nwao-page-title-anchor h2#nwao-page-title {
  margin: 15px 18% 50px 18%;
  text-align: center;
  background-color: white;
  font-size: 2.6em;
  color: black;
  border: 2px solid black;
  padding: 10px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.nwao-page-title-anchor h2#nwao-page-title a {
  color: black;
  position: relative;
  left: -10px;
}
.nwao-page-title-anchor h2#nwao-page-title a:hover {
  color: white;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
.nwao-page-title-anchor h2#nwao-page-title:hover {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: #005577;
}

.nwao-post-header {
  margin: 0 0 40px 0;
}
.nwao-post-header h2 {
  padding: 0 14px;
  text-align: right;
  margin: 35px 0 0 0;
  position: relative;
}
.nwao-post-header h2:hover {
  background-color: #eeeeee;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.nwao-post-header h2:hover:before {
  float: left;
  content: "#";
  color: #cccccc;
  position: absolute;
  top: -2px;
  left: 5px;
}
.nwao-post-header dl {
  font-size: 0.9em;
  display: block;
  padding: 3px;
  margin: 2px;
  text-align: right;
  line-heght: 1em;
}
.nwao-post-header dl > dt, .nwao-post-header dl > dd {
  display: inline;
  margin: 0 11px 0 0;
}
.nwao-post-header dl > dt {
  display: none;
}
.nwao-post-header dl > dd, .nwao-post-header dl > dt {
  color: #666666;
}
.nwao-post-header dd.nwao-published {
  float: left;
  margin: 2px 0;
}

.nwao-tags, .nwao-post-header dd.nwao-tags {
  color: #eeeeee;
  margin: 0 4px;
}
.nwao-tags a, .nwao-post-header dd.nwao-tags a {
  line-height: 1em;
  display: inline-block;
  margin: 1px;
  font-size: 0.8em;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-color: #9999aa;
  border-style: solid;
  color: #666666;
}
.nwao-tags a:hover, .nwao-post-header dd.nwao-tags a:hover {
  background-color: #9999aa;
  color: white;
}

ul#nwao-social {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  background-color: #eeeeee;
  position: fixed;
  right: 5px;
  top: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5 * 100)";
  filter: alpha(opacity=0.5 * 100);
  opacity: 0.5;
  border-width: 1px;
  border-color: #eeeeee;
  list-style: none;
}
ul#nwao-social li {
  display: inline;
  padding: 5px;
}

#nwao-footer {
  font-size: 0.6em;
  color: #666666;
  background-color: rgba(200, 200, 200, 0.2);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#nwao-footer p {
  margin: 0;
  padding: 5px;
}

#nwao-onion {
  float: right;
  right: 0;
  bottom: 0;
  width: 310px;
  height: 207px;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/onions.png");
  background-position: 0 -207px;
}
#nwao-onion:hover {
  -webkit-transition: background-image 3s ease;
  -moz-transition: background-image 3s ease;
  -ms-transition: background-image 3s ease;
  -o-transition: background-image 3s ease;
  transition: background-image 3s ease;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/onions.png");
  background-position: 0 0;
}

#nwao-jump-to-top {
  background-color: rgba(200, 200, 200, 0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.3 * 100)";
  filter: alpha(opacity=0.3 * 100);
  opacity: 0.3;
  font-size: 1.1em;
  position: fixed;
  left: 14%;
  bottom: 0;
}
#nwao-jump-to-top a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
}
#nwao-jump-to-top:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 * 100)";
  filter: alpha(opacity=1 * 100);
  opacity: 1;
}

#nwao-blog-feed, #nwao-archives, #nwao-archive, #nwao-tagged {
  padding: 50px 75px 100px 75px;
}
#nwao-blog-feed .nwao-post-header dl, #nwao-archives .nwao-post-header dl, #nwao-archive .nwao-post-header dl, #nwao-tagged .nwao-post-header dl {
  font-size: 0.9em;
}
#nwao-blog-feed .nwao-post-header h2, #nwao-archives .nwao-post-header h2, #nwao-archive .nwao-post-header h2, #nwao-tagged .nwao-post-header h2 {
  text-align: center;
  background-color: #dddddd;
  border-bottom: 2px solid #006677;
}
#nwao-blog-feed .nwao-post-header h2:hover:before, #nwao-archives .nwao-post-header h2:hover:before, #nwao-archive .nwao-post-header h2:hover:before, #nwao-tagged .nwao-post-header h2:hover:before {
  display: none;
  content: "";
}
#nwao-blog-feed .nwao-post-header h2 a, #nwao-archives .nwao-post-header h2 a, #nwao-archive .nwao-post-header h2 a, #nwao-tagged .nwao-post-header h2 a {
  color: black;
}
#nwao-blog-feed .nwao-post-header h2 a:hover, #nwao-archives .nwao-post-header h2 a:hover, #nwao-archive .nwao-post-header h2 a:hover, #nwao-tagged .nwao-post-header h2 a:hover {
  color: #004466;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
#nwao-blog-feed .nwao-post-header h2:hover, #nwao-archives .nwao-post-header h2:hover, #nwao-archive .nwao-post-header h2:hover, #nwao-tagged .nwao-post-header h2:hover {
  background-color: #cccccc;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}

.nwao-blog-feed-item {
  margin: 0 0 60px 0;
  background-color: rgba(200, 200, 200, 0.1);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border-style: solid;
  border-color: #666666 #999999;
  border-width: 2px 1px 4px 1px;
}
.nwao-blog-feed-item:hover {
  background-color: rgba(200, 200, 200, 0.2);
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.nwao-blog-feed-item .nwao-continue {
  display: inline-block;
  width: 49%;
  font-size: 1.2em;
  position: relative;
  left: 14px;
  bottom: 7px;
}
.nwao-blog-feed-item .nwao-item-marker {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 3em;
  color: #999999;
  position: relative;
  right: 8px;
}

.nwao-post-excerpt {
  margin: 0 30px 30px 47px;
}

.nwao-continue p {
  margin: 10px;
}

#nwao-pagination {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

/*#nwao-archive
 *
 * .nwao-page-title-anchor h2#nwao-page-title
 *     font-size: 2.4em
 *
 *     a
 *         left: 0 */
dl.nwao-archives-year {
  padding: 20px 0;
  margin: 30px 0;
}
dl.nwao-archives-year > dt {
  text-align: center;
}
dl.nwao-archives-year > dt > a {
  font-size: 2em;
}

dl.nwao-archive-items {
  padding: 10px 0;
  margin: 15px 0;
}
dl.nwao-archive-items > dt {
  border-bottom: 2px solid #dddddd;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
dl.nwao-archive-items > dd {
  margin-bottom: 25px;
}
dl.nwao-archive-items > dd > a {
  font-family: "PT Sans", "Droid Sans", "Droid Serif", Palatino, Geneva, Helvetica, serif;
  font-size: 1.8em;
  text-decoration: none;
  padding: 5px;
  display: block;
  margin-bottom: 4px;
}
dl.nwao-archive-items > dd > a:hover {
  background-color: #eeeeee;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
