{% extends 'layout.html' %}


{% set section_id = 'feed' %}

{% set crumbs = (
    ('Блог',None),
) %}

{% block content %}

    <h2 id="nwao-page-title">
        <a href="#top" title="Статьи">Свежие статьи</a>
    </h2>

    {% for post in posts %}
        {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}

        <article class="nwao-blog-feed-item">

            {% include '_blocks/list.post.header.html' %}

            <div class="nwao-post-excerpt">
                <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}</p>
            </div>

            <a href="{{ get_url(post.url) }}" title="Продолжить чтение" class="nwao-continue">
                Продолжить&nbsp;чтение
            </a>

        </article>

    {% endfor %}

    {% if site.post_limit and posts.items|length > site.post_limit %}
        <div id="nwao-pagination">
            <p><a href="{{ get_url('archives/') }}" title="Все статьи">Предыдущие&nbsp;статьи</a></p>
        </div>
    {% endif %}

{% endblock %}
